FormatStyle: file
HeaderFilterRegex: ".*"
UseColor: true
WarningsAsErrors: >
    *,
    -clang-diagnostic-builtin-macro-redefined,

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,
    -cppcoreguidelines-avoid-magic-numbers,
    { key: readability-identifier-naming.PrivateMemberPrefix, value: m_ }

