UseColor: true

Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,
    -cppcoreguidelines-avoid-magic-numbers,
HeaderFilterRegex: ".*"

WarningsAsErrors: >
    bugprone-*,
    cppcoreguidelines-*,
    google-*,
    performance-*,
