[Desktop Entry]
Version=1.5
Name=zview
Comment=zview
Exec=/opt/zview/zview
Icon=/opt/zview/zview.png
Terminal=false
Type=Application
Categories=Utility;Application;