Source: zview
Section: utils
Priority: optional
Maintainer: Ohad Menashe <ohad.men@gmail.com>
Build-Depends: debhelper (>= 12), git
Standards-Version: 4.5.0
Homepage: https://github.com/ohadmen/zview/

Package: zview
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 3D viewer built with Bazel
 A 3D viewer application built using Bazel. This package includes the zview binary and all required assets.